<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Espace Conducteur</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href='/images/favicon.ico' type="image/x-icon">
    <link rel="stylesheet" href="/swiper/swiper-bundle.css">
</head>
<body>
    <%- include('header', { user: user }) %>

    <h1>Bienvenue Conducteur !</h1>
    <h2>Ajouter une voiture</h2>
    <form id="add-car-form">
        <input type="text" id="model" name="model" placeholder="Modèle" required>
        <input type="text" id="plate" name="plate" placeholder="Plaque d'immatriculation (AA-123-AA)" pattern="[A-Z]{2}-[0-9]{3}-[A-Z]{2}" required>
        <input type="number" id="seats" name="seats" placeholder="Nombre de sièges (max 9)" min="1" max="9" required>
        <input type="number" id="horsepower" name="horsepower" placeholder="Chevaux (max 999)" min="1" max="999" required>
        
        <select id="engine" name="engine" required>
            <option value="Essence">Essence</option>
            <option value="Diesel">Diesel</option>
            <option value="Électrique">Électrique</option>
            <option value="Hybride">Hybride</option>
        </select>
    
        <input type="file" id="car-image" name="car-image" accept="image/*" required>
        
        <button type="submit">Ajouter la voiture</button>
    </form>
    
    <div id="confirmation"></div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <% cars.forEach(function(car) { %>
                <div class="swiper-slide" data-car-id="<%= car._id %>" onclick="selectCar('<%= car._id %>', '<%= car.model %>', '<%= car.seats %>')">
                    <img src="<%= car.image %>" alt="<%= car.model %>">
                    <div class="car-info">
                        <h3><%= car.model %></h3>
                        <p>Immatriculation: <%= car.plate %></p>
                        <p>Moteur: <%= car.engine %> - Sièges: <%= car.seats %></p>
                        <p>Chevaux: <%= car.horsepower %></p>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <h2>Créer un trajet</h2>
    <form id="trip-form" onsubmit="submitTrip(event)">
        <input type="hidden" id="selected-car-id" name="carId">
        <input type="text" id="start-point" name="start" placeholder="Point de départ" required>
        <input type="text" id="end-point" name="end" placeholder="Point d'arrivée" required>
        <input type="number" id="price" name="price" placeholder="Prix (en euros)" required>
        <textarea id="additional-info" name="additionalInfo" placeholder="Informations supplémentaires" rows="4"></textarea>
        <button type="button" onclick="calculateRoute()">Calculer l'itinéraire</button>
        <button type="submit">Enregistrer le trajet</button>
    </form>
    <div id="route-summary">
        <h2>Résumé du trajet</h2>
        <div id="details">
            <p><strong>De :</strong> <span id="start-address"></span></p>
            <p><strong>À :</strong> <span id="end-address"></span></p>
            <p><strong>Distance :</strong> <span id="distance"></span></p>
            <p><strong>Durée :</strong> <span id="duration"></span></p>
        </div>
    </div>    
    <div id="google-map"></div>
    <div id="trips-list">
        <% trips.forEach(function(trip) { %>
          <div class="trip">
              <div class="trip-content">
                  <div class="trip-info">
                      <p><strong>Trajet:</strong> De <%= trip.startPoint %> à <%= trip.endPoint %></p>
                      <div>
                          <% if(trip.car && trip.car.image) { %>
                              <img src="<%= trip.car.image %>" alt="Image de la voiture" style="max-width: 200px; max-height: 150px;">
                          <% } else { %>
                              <p>Image not available</p>
                          <% } %>
                      </div>
                      <p><strong>Voiture:</strong> <%= trip.car ? trip.car.model : 'Modèle inconnu' %> (<%= trip.car ? trip.car.plate : 'Plaque inconnue' %>)</p>
                      <p><strong>Départ:</strong> <%= trip.departureTime.toLocaleString('fr-FR', { timeZone: 'UTC' }) %></p>
                      <p><strong>Sièges disponibles:</strong> <%= trip.seatsAvailable %></p>
                      <p><strong>Prix:</strong> <%= trip.price %> euros</p>
                      <p><strong>Informations supplémentaires:</strong> <%= trip.additionalInfo %></p>
                      <p><strong>Durée:</strong> <%= trip.duration %></p>
                      <p><strong>Distance:</strong> <%= trip.distance %></p>
                  </div>
                  <div class="trip-actions">
                      <button onclick="deleteTrip('<%= trip._id %>')">Supprimer</button>
                  </div>
              </div>
          </div>
        <% }); %>
      </div>

    <%- include('footer') %>

    <script src="/swiper/swiper-bundle.min.js"></script>
    <script src="/js/driverHome.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>&callback=initMap"></script>

</body>
</html>
