<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Espace Passager</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='icon' href='/images/favicon.ico' class='js-favicon'>
</head>
<body>
    <%- include('header', { user: user }) %>
    <h1>Welcome, Passenger!</h1>
    
    <div id="trips-list">
        <% trips.forEach(function(trip) { %>
            <div class="trip">
                <p><strong>Trajet:</strong> De <%= trip.startPoint %> à <%= trip.endPoint %></p>
                <div>
                    <img src="<%= trip.car.image %>" alt="Image de la voiture" style="max-width: 200px; max-height: 150px;">
                </div>
                <p><strong>Voiture:</strong> <%= trip.car.model %> (<%= trip.car.plate %>)</p>
                <p><strong>Départ:</strong> <%= trip.departureTime.toLocaleString('fr-FR', { timeZone: 'UTC' }) %></p>
                <p><strong>Sièges disponibles:</strong> <%= trip.seatsAvailable %></p>
                <p><strong>Prix:</strong> <%= trip.price %></p>
                <p><strong>Informations supplémentaires:</strong> <%= trip.additionalInfo %></p>
                <button onclick="reserveTrip('<%= trip._id %>')">Réserver</button>
            </div>
        <% }); %>
    </div>
    
    <%- include('footer') %> 

    <script>
function reserveTrip(tripId) {
    fetch('/reserve-trip', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ tripId: tripId })
    })
    .then(response => {
        if (response.ok) {
            window.location.href = `/payment?tripId=${tripId}`; 
        } else {
            console.error('Error reserving trip');
        }
    })
    .catch(error => {
        console.error('Error reserving trip:', error);
    });
}

    </script>
</body>
</html>
